Screen {
    overflow: hidden;
}

#app-grid {
    layout: horizontal;
    height: 1fr;
}

#sidebar {
    width: 35;
    height: 98%;
    background: $surface;
    border-right: vkey $primary;
    dock: left;
}

#main-content {
    width: 1fr;
    height: 98%;
}

#log {
    height: 1fr;
    margin-bottom: 1;
    border: tall $background-lighten-2;
}

#input {
    height: 6;
}

#status {
    height: 2;
    width: 100%;
    background: $background-lighten-1;
    color: $text;
    content-align: center middle;
    border-top: tall $background-lighten-2;
}

/* --- Model Selection Modal --- */

ModelSelectionScreen {
    align: center middle;
    background: $background 50%;
}

#model-dialog {
    grid-size: 1;
    grid-rows: auto 1fr;
    width: 60;
    height: 20;
    border: thick $primary;
    background: $surface;
}

#model-title {
    content-align: center middle;
    padding: 1;
    background: $primary-darken-2;
    color: $text;
    width: 100%;
}
